@media screen and (max-width: 999px){
    #contactContainer{
        background-color: #464646;
        padding: 1% 8% 20% 8%;
        

        #contactHeader{
            font-size: 1.5em;
            font-size: 6.5vw;
            text-align: left;
            margin-bottom: 5%;
            
            color: white;
        }

        #contactGrid{
            display: grid;
            grid-template-rows: 1fr 1fr 1fr 1fr;
            grid-template-columns: 1fr;
            grid-template-areas: 
            "phone"
            "email"
            "github"
            "linkedIn";

            grid-row-gap: 7%;

            #phoneContainer{
                position: relative;
                grid-area: phone;
                
                
            }

            #emailContainer{
                grid-area: email;
                position: relative;
            

            }

            #githubContainer{
                grid-area: github;
                position: relative;
                
            }

            #linkedInContainer{
                grid-area: linkedIn;
                position: relative;
            }


        }



    }

    #phoneImg{
        width: auto;
        height: 50px;
        height: 14vw;
        float: left;
    }

    #phone{
        font-family: Microsoft YaHei UI;
        position: absolute;
        left: 25%;
        top: 20%;
        margin: 0;
        padding: 0;
        color: white;
        background: none;
        border: none;
        font-size: 1.5em;
        font-size: 5vw;
    }

    #emailImg{
        width: auto;
        height: 50px;
        height: 14vw;
        float: left;
    }

    #email{
        font-family: Microsoft YaHei UI;
        position: absolute;
        left: 25%;
        top: 20%;
        margin: 0;
        padding: 0;
        color: white;
        font-size: 1.5em;
        font-size: 5vw;
    }



    #githubImg{
        
        width: auto;
        height: 50px;
        height: 14vw;
        float: left;
    }

    #github{
        font-family: Microsoft YaHei UI;
        position: absolute;
        left: 25%;
        top: 20%;
        margin: 0;
        padding: 0;
        color: white;
        font-size: 1.5em;
        font-size: 5vw;
        text-decoration: none;
    }

    #linkedInImg{
        width: auto;
        height: 50px;
        height: 14vw;
        float: left;
    }

    #linkedIn{
        font-family: Microsoft YaHei UI;
        position: absolute;
        left: 25%;
        top: 20%;
        margin: 0;
        padding: 0;
        color: white;
        font-size: 1.5em;
        font-size: 5vw;
        text-decoration: none;
    }
}

@media screen and (min-width: 1000px){
    #contactContainer{
        background-color: #464646;
        padding: 1% 8% 5% 8%;
        

        #contactHeader{
            font-size: 4.2em;
            font-size: 3.5vw;
            text-align: left;
            margin: 3% 0;
            
            color: white;
        }

        #contactGrid{
            display: grid;
            grid-template-rows: 1fr;
            grid-template-columns: 1fr 1.5fr 0.75fr 1fr;
            grid-template-areas: 
            "phone email github linkedIn";

            grid-column-gap: 2%;

            #phoneContainer{
                position: relative;
                grid-area: phone;
            }

            #emailContainer{
                grid-area: email;
                position: relative;
            }

            #githubContainer{
                grid-area: github;
                position: relative; 
            }

            #linkedInContainer{
                grid-area: linkedIn;
                position: relative;
            }

        }

    }

    #phoneImg{
        width: 50%;
        width: 6vw;
        float: left;
    }

    #phone{
        font-family: Microsoft YaHei UI;
        position: relative;
        top: 30%;
        color: white;
        background: none;
        border: none;
        font-size: 2em;
        font-size: 1.5vw;
    }

    #emailImg{
        width: 50%;
        width: 6vw;
        float: left;
    }

    #email{
        font-family: Microsoft YaHei UI;
        
        color: white;
        background: none;
        border: none;
        font-size: 2em;
        font-size: 1.5vw;
    }

    #githubImg{
        
        width: 50%;
        width: 6vw;
        float: left;
    }

    #github{
        font-family: Microsoft YaHei UI;
        position: relative;
        top: 30%;
        color: white;
        background: none;
        border: none;
        font-size: 2em;
        font-size: 1.5vw;
        text-decoration: none;
    }

    #linkedInImg{
        width: 50%;
        width: 6vw;
        float: left;
    }

    #linkedIn{
        font-family: Microsoft YaHei UI;
        position: relative;
        top: 30%;
        color: white;
        background: none;
        border: none;
        font-size: 2em;
        font-size: 1.5vw;
        text-decoration: none;
    }
}